.checkOutHeading {
    margin-top: 2%;
    text-align: center;
    font-weight: 800;
    font-size: 35px;
}

form {
    margin: auto;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 50px 20px;
    border: 1px solid gray;
    border-radius: 10px;
}

label {
    padding: 10px;
    font-size: 18px;
    font-weight: 700;
}

input {
    margin: auto;
    padding: 5px;
    width: 60%;
}

.checkOutButton {
    width: 60%;
    margin: auto;
    margin-top: 20px;
    text-decoration: none;
    padding: 10px 30px;
    border: none;
    background-color: black;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.checkOutButton:hover {
    opacity: 80%;
}