.searchContainer {
    position: relative;
    width: 400px;
    margin: auto;
}

.searchInput {
    height: 20px;
    width: 400px;
    padding: 5px;
    border-radius: 2px;
    border: 0;
    color: black;
}

.results {
    position: absolute;
    width: 100%;
    background-color: brown;
}